.tappd-website-container{
  margin-left: 7vw;
  margin-right: 7vw;
  padding-bottom: 19vw;
}

.first-image-landing-page:hover, .second-image-landing-page:hover, .third-image-landing-page:hover {
  transform: rotate(5deg);
}
.images-section{
  height: 47vw;
}

.first-image-landing-page, .second-image-landing-page, .third-image-landing-page{
  max-width:100vw;
  height: auto;
  position: absolute;
  transition: transform 0.15s ease;
}

.first-image-landing-page{
  margin-top: -5vw;
  height: auto;
  width:33vw;
  margin-left: -33vw;
  z-index: 2;
}

.second-image-landing-page{
  margin-top: 14vw;
  width:28vw;
  height: auto;
  margin-left: -47vw;
  z-index: 1;
}
.third-image-landing-page{
  margin-top: 25vw;
  height: auto;
  margin-left:-30vw;
  z-index: 3;
  width:30vw;
}

.text-section{
  width: 140vw;
  height: fit-content;
}

.heading{
  margin: 0;
  font-size: 6.5vw;
  font-weight: bold;
}

.subtext{
  font-size: 1.35vw;
  font-weight: normal;
  padding-top: 1.2vw;
  line-height: 140%;
}
.container{
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.buttons-section{
  display: flex;
  gap: 2vw;
  padding-top: 2vw;
}

.waitlist-button{
    color: black;
  background-color: #f2f862;
  font-size: 1.35vw;
  font-family: 'Urbanist', sans-serif;
  font-weight: 550;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  padding-left: 2.2vw;
  padding-right: 2.2vw;
  border: none;
  border-radius: 0.5vw;
}

.explore-button{
  color: #fefeef;
  border: 1px solid white;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.35vw;
  font-weight: normal;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 0.5vw;
  background: none;
}

.reviews-section{
  display: flex;
  gap:5vw;
  padding-top: 3vw;
}

.review-heading{
  font-size: 1.35vw;
  font-weight: 600;
  margin-bottom: 0;
}
.review-subtext{
  margin-top:1px;
  font-size: 1.08vw;
}