.navbar{
    padding-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0vw;
    gap:17vw;
    padding-bottom: 10.5vw;
}

.navbar-buttons{
    margin-bottom: 2vw;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    align-items: center;
    background: none;
    font-size: 1.08vw;
    color: #fefeef;
    border: none;
}

.navbar-logo{
    width: 5.7vw;
    padding-left: 1vw;
    padding-bottom: 0.5vw;
    height: auto;
}

.navbar-waitlist-button{
    color: black;
    background-color: #f2f862;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.08vw;
    font-weight: 550;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border: none;
    border-radius: 0.5vw;
}
.navbar-buttons-section{
    display: flex;
    gap: 2.4vw;
    margin-left: 3vw;
    padding-top: 2vw;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 2vw;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  color: #fefeef;
  cursor: pointer;
  font-size: 6vw;
  display: none;
}

@media (max-width: 1024px){

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  align-items: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.mobile-menu.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  margin-top: -10vw;
  margin-bottom: 2vw;
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #fefeef;
    cursor: pointer;
    font-size: 6vw;
    margin-left: auto;
    padding-right: 2.5vw;
  }

.navbar-buttons-section {
    display: none;
  }

.navbar-waitlist-button{
  background-color: #f2f862;
  color: black;
  font-family: 'Urbanist', sans-serif;
  font-size: 2.08vw;
  font-weight: 550;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  border: none;
  border-radius: 0.75vw;
  margin-right: 5vw;
}
.navbar-logo{
    width: 10vw;
    padding-left: 5vw;
    height: auto;
}

.navbar-buttons-section{
    display: flex;
    margin-left: 3vw;
    padding-top: 2vw;
}

.navbar{
    padding-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0vw;
    padding-bottom: 10.5vw;
}

.navbar-buttons{
    margin-bottom: 2vw;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 2.33vw;
    color: #fefeef;
    border: none;
}
}